#map {
    height: 720px;
    width: 100%;

}


/*Text Output Area*/
div.ConectionTextOutputBackround{
    width: 100%;
    border-radius: 0px 0px 25px 25px;
    background-color: #1e4d8A;
}
div.InnerConectionTextOutput{
    padding: 15px;
}



div.connectionTextBox{
    border-radius: 25px;
    padding: 15px;
    margin: 15px;
    width: 95%;
    display: block;
    background-color: lightsteelblue;
    border-color: #1e4d8A;
    border-style: groove;
    /*float: left;*/
    overflow: auto;
}

div.connectionTextBox1{
    border-style: none;
}

/*Top Menu Bar*/
div.topMenu.main{
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    /*#2
    background-color: #3e8f3e;*/
    /*#3
    background-color: #2e6da4;*/
    /*#4
    background-color: #2b669a;*/
    /*Laura*/
    background-color: #1e4d8A;
}

div.topMenu.part{
    width: 33.33%;
    float: left;
    overflow: auto;
    padding-bottom: 15px;
    padding-top: 15px;
}


div.topMenuContent{
    border-radius: 25px;
    padding: 15px;
    margin: 15px;
    width: 250px;
    display: block;
    margin: auto;

    /*#2
    background-color: #b2dba1;*/
    /*#1
    background-color: lightgray;*/
    /*#3
    background-color: #a6e1ec;*/
    /*#3*/
    background-color: lightsteelblue;
}
/*
#origin, #destination {
    height: 100px;
}

#settings {
    height: 150px;
}*/

.main:after {
    content: "";
    display: table;
    clear: both;
}

head3 {
    font-size: 20px;
    font-weight: bold;
    margin: 8px;
    font-family: Arial, Helvetica, sans-serif;

}

.inputTextField {
    height: 25px;
    margin: 8px;
    width: 230px;
    font-family: Arial, Helvetica, sans-serif;

}

menuText{
    font-size: 20px;
    margin: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.selectField {
    height: 25px;
    margin: 8px;
    width: 230px;
    font-family: Arial, Helvetica, sans-serif;

}

.menuCheckbox{
    margin: 8px;
    transform: scale(1.8);
}

div.buttonBox{
    width: 130px;
    height: 130px;
    display: block;
    margin: auto;
    vertical-align: bottom;
    padding: 15px 0px 0px 0px;
    /*position: absolute;*/
    /*background-color: lightsteelblue;*/
    z-index: 1000;
}

.inputButton {
    height: 130px;
    width: 130px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 100% 100% 100% 100%;
    position: relative;
    background-color: lightgreen;
    font-size: 50px;
}
/*
div.middleBox{
    background:green;
    height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
}*/